{% extends "app/layout.html" %}

{% block content %}

<b>{{ title }}</b>
<br />
<br />
<t><strong>Мы бьюти дуэт: мастер парикмахерского искусства и мастер ногтевого сервиса.</strong></t> <br>
<br>
<t>Art Beauty Остров — это ваш остров красоты и гармонии, где каждый может найти свое идеальное место для релакса и преображения. Наш салон предлагает широкий спектр <a href="{% url 'services' %}">услуг</a>, направленных на уход за вашей внешностью и поддержание вашего благополучия.</t> <br>
<br>
<t>В Art Beauty Остров мы убеждены, что каждый клиент уникален и заслуживает особого внимания. Мы стремимся создать не только красивый внешний образ, но и подарить вам ощущение уверенности и гармонии. Наши мастера постоянно повышают свою квалификацию, чтобы предлагать вам самые современные и эффективные методы ухода за собой. Мы ценим ваше доверие и всегда готовы превзойти ваши ожидания.

Приходите к нам и почувствуйте себя настоящей королевой или королем!</t> <br>

<br>
<i><t> Работаем в сфере красоты с 2016 года!</t></i>

{% endblock %}
