{% extends "app/layout.html" %}

{% block content %}

{% load static %}

<div class="column">
    <z1>Наши услуги </z1><br />
    __________________________________________________________________________
    <z>Парикмахер-универсал:</z> <br />
    <li>мужские стрижки от простых до модельных от 250 рублей</li>
    <li>женские стрижки от простых до модельных от 250 рублей </li>
    <li>окраски разной сложности от 700 рублей </li>
    <li>прически от 700 рублей </li>
    <li>плетение кос от 250 рублей </li>
    <li>детские стрижки и прически от 250 рублей </li>
    __________________________________________________________________________
    <z>Сертифицированный мастер маникюра:</z> <br />
    <li>покрытие: лак и гель лак от 400 рублей</li>
    <li>маникюр: классический, комбинированный, аппаратный и европейский (необрезной) от 800 рублей  </li>
    <li>укрепление натуральных ногтей: акрил и гель от 400 рублей </li>
    <li>наращивание ногтей от 500 рублей </li>
    <li>дизайны: фольга, стразы, роспись ручная, слайдеры и прочие от 600 рублей </li>
    __________________________________________________________________________
    <z>Бровист:</z> <br />
    <li>оформление и коррекция бровей (крашивание хной и краской) от 500 рублей</li>


</div>

{% endblock %}